body {
    font-family: Arial;
}

h1 {
    color: #00b3b3;
    font-size: 1.7em;
}

table {
    border-collapse: collapse;
    margin: 10px 0px 10px 0;
}

table, th, td {
    border: 1px solid black;
    padding: 10px;
}

label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
}

input {
    margin-bottom: 16px;
    
}

#label-textbox * {
    vertical-align: top;
}

button {
    margin: 5px;
    min-width: 50px;
}

#login-form {
    width: 295px;
}

#right-form-button {
    float: right;
}

form {
    display: inline;
}

#message {
    color: red;
}